:root {
    --dark-color: #1F2937;
    --light-color: #F9FAF8;
    --secondary-text-color: #E5E7EB;
    --accent-color: #3882F6;
    --quote-bg-color: #E5E7EB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    /* outline: 2px solid red; */
}